@CHARSET "UTF-8";

.item-table{
	text-align:center;

}


.dl-list{
	margin:0px;
	padding:0px;
/* 	width:100%; */
}

.dd-list{
	width:31%;
	display:inline-block;
	background-image:url("../image/pastel3.jpg");
	background-color: rgba(226, 255, 225, 0.2);
 	font-size: 12px;
 	float:left;
	margin:0;
	padding:15px 0px;
	margin-left:2%;
	margin-bottom:20px;
}
.dd-list:last-child {
	margin-right: 0;
}

/* .button{ */
/* 	margin:0 auto; */
/* 	text-align:center; */
/* 	position: relative; */
/*     display: inline-block; */
/*     padding: 0.25em 0.5em; */
/*     font-family: 'Mystery Quest', cursive; */
/*      color: #ffffff; */
/* /*     background: #ff0000;色 */ */
/*     background-image:url("../image/hanabi2.jpg"); */
/*     border-radius: 4px; */
/*     box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), inset 0 -2px 0 rgba(0, 0, 0, 0.05); */
/*     font-weight: bold; */
/*     border: solid 2px #d27d00; */

/*     } */



.mypage{
background-image:url("../image/kicheck.jpg");
border:2px solid #d0f7ee;
width:300px;
margin:0 auto;
padding:5px;
border-radius: 3px;
font-weight: bold;

}

.login{
background-image:url("../image/pastel2.jpg");
border:2px solid #d0f7ee;
width:300px;
margin:0 auto;
padding:5px;
border-radius: 3px;

}
/* 登録フォーム */
.create{
	background-image:url("../image/pastel2.jpg");
border:2px solid #d0f7ee;
width:300px;
margin:0 auto;
padding:5px;
border-radius: 3px;
}
.confirm{
background-image:url("../image/pastel2.jpg");
border:2px solid #d0f7ee;
width:300px;
margin:0 auto;
padding:5px;
border-radius: 3px;

}

/* 管理者メニュー */

#master_link{
	text-align:center;
	font-size:25px;
	background-image:url("../image/pastel2.jpg");
	width:35%;
	margin:0 auto;
	padding-top:25px;

}